<!-- content -->
<div id="content" class="app-content box-shadow-z0" role="main">
    <%- include('./navbar_footer'); %>
        <div ui-view class="app-body" id="view">

            <!-- ############ PAGE START-->
            <div class="padding">
                <div class="row column-reverse">
                    <div class="col-md-12 col-xl-6">
                        <div class="box">
                            <div class="box-header text-center">
                                <h2 style="font-size: 29px;">Trạm 4 : Trạm Tay Gắp</h2>
                                <!-- <small>Calculated in last 7 days</small> -->
                            </div>
                            <div class="b-t">
                                <div class="row box-body">
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <div class="Tram1_row">
                                            (2B2) CB Hanh Trinh Trai
                                            <span class="dot" id="4_2B2"></span>
                                        </div>
                                        <div class="Tram1_row">
                                            (2B1) CB Phat Hien Phoi
                                            <span class="dot" id="4_2B1"></span>
                                        </div>
                                        <div class="Tram1_row">
                                            (2B3) CB Hanh Trinh Giua
                                            <span class="dot" id="4_2B3"></span>
                                        </div>
                                        <div class="Tram1_row">
                                            (2B5) CB Xy Lanh Duoi
                                            <span class="dot" id="4_2B5"></span>
                                        </div>
                                        <div class="Tram1_row">
                                            (2B4) CB Hanh Trinh Phai
                                            <span class="dot" id="4_2B4"></span>
                                        </div>
                                        <div class="Tram1_row">
                                            (2B6) CB Xy Lanh Tren
                                            <span class="dot" id="4_2B6"></span>
                                        </div>
                                        <div class="Tram1_row">
                                            (2B7) CB Tay Ghap
                                            <span class="dot" id="4_2B7"></span>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xl-6">
                        <div class="box">
                            <div id="_3dTram1_HW">
                                <canvas class="_3dTram1"></canvas>
                            </div>
                            <div>
                                <button id="ban_dau" class="btn btn-outline b-info text-info">Góc ban đầu</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ############ PAGE END-->

        </div>
</div>
<!-- / -->